### Hey coder ðŸ‘‹

Welcome back to **Day 5** of our Python journey. Youâ€™ve done an **awesome job** making it this far!

Yesterday we explored how **functions** work and even met **recursion** along the way.  
Today weâ€™re taking things up a notch with some **advanced function concepts** that will make your code more **flexible** and **powerful**.

So get comfy, open your editor, and letâ€™s **dive deeper into the magic of Python functions** together. ðŸ’»âœ¨

**Alright, letâ€™s understand Lambda Functions in detail and see how these tiny, powerful functions can make our code cleaner and faster.**

### Lambda Functions

A **Lambda Function** is an **anonymous function**, which means it doesnâ€™t have a name.  
We normally use the `def` keyword to create regular functions, but for small, one-line functions, Python gives us a quicker way using the `lambda` keyword.

Lambda functions are great when you need a **short, throwaway function** that does a simple task.

#### Syntax
```python
lambda arguments: expression

**The expression is automatically returned, so you donâ€™t need to use a return statement.**

In [1]:
upper = lambda text: text.upper()
print(upper("python is fun"))

PYTHON IS FUN

### Use Cases of Lambda Functions

Letâ€™s look at some **practical uses** of lambda functions in Python 

1. **Using with condition checking**  
   Apply quick conditions without defining a separate function.

2. **Using with list comprehension**  
   Combine lambda with list comprehensions for concise transformations.

3. **Using for returning multiple results**  
   Perform small calculations and return results in a compact way.

4. **Using with `filter()`**  
   Filter elements from a list based on a condition.

5. **Using with `map()`**  
   Apply a function to every element in a list.

6. **Using with `reduce()`**  
   Perform cumulative operations on a list, like summing or multiplying all elements.

### 1. Using with Condition Checking

A **lambda function** can include conditions using **if statements**.

Here, the lambda function uses **nested if-else logic** to classify numbers as **Positive**, **Negative**, or **Zero**.

In [2]:
n = lambda x: "Positive" if x > 0 else "Negative" if x < 0 else "Zero"

In [3]:
n(5)

'Positive'

In [4]:
n(-5)

'Negative'

In [5]:
n(0)

'Zero'

This **lambda function** checks **divisibility by 2** and returns **"Even"** or **"Odd"** accordingly.

In [6]:
check = lambda x: "Even" if x % 2 == 0 else "Odd"

In [7]:
check(10)

'Even'

In [8]:
check(2)

'Even'

In [9]:
check(15)

'Odd'

**2. Using with List Comprehension**

We can combine **lambda functions** with **list comprehensions** to transform data in a concise and readable way.

This code creates a list of lambda functions, each multiplying its input by 10 and then executes them one by one.

In [1]:
funcs = [lambda x: x * 10 for x in range(5)]

for i, f in enumerate(funcs):
    print(f"Function {i} output:", f(i))

Function 0 output: 0
Function 1 output: 10
Function 2 output: 20
Function 3 output: 30
Function 4 output: 40

**3. Using for Returning Multiple Results**

Lambda functions cannot contain multiple statements, but we can still return multiple values by using a **tuple** or by **nesting one lambda inside another**.

Hereâ€™s an example that calculates both the **sum** and **product** of two numbers and returns them together:

In [2]:
sum_prod = lambda a, b: (a + b, a * b)

result = sum_prod(5, 3)
print(result)

(8, 15)

In [3]:
# Accessing individual values
s, p = result
print("Sum:", s)
print("Product:", p)

Sum: 8
Product: 15

### Nested Lambda Functions

You can also use **one lambda inside another** to perform **multiple operations** in a single expression.

This approach can make your code **compact** but should be used **carefully** for readability.

In [4]:
sum_prod = lambda a, b: (lambda x, y: (x + y, x * y))(a, b)

result = sum_prod(4, 2)
print(result)

(6, 8)

**4. Using with `filter()`**

The `filter()` function in Python takes a **function** and an **iterable** (like a list) as inputs.  
It filters out elements for which the function returns **True**.

Here, we use a **lambda function** as the filtering condition to keep only the **even numbers**.

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

**5. Using with `map()`**

The `map()` function in Python takes a **function** and an **iterable** (like a list) as inputs.  
It applies the function to **each item** in the iterable and returns a **new list**  
(in Python 3, it returns a *map object*, so we convert it using `list()`).

Here, we use a **lambda function** to **double each element** in the list.

In [6]:
numbers = [1, 2, 3, 4, 5]

doubled = list(map(lambda x: x * 2, numbers))
print(doubled)

[2, 4, 6, 8, 10]

**6. Using with `reduce()`**

The `reduce()` function in Python applies a **function cumulatively** to all elements in an iterable.  
It repeatedly applies the given function to pairs of elements until **only one final value** remains.

>  Note: `reduce()` is **not a built-in function** â€” it comes from the `functools` module, so we must import it first.

Here, we use a **lambda function** to **multiply all elements** in a list.

In [7]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x * y, numbers)
print(product)

120

### Difference Between `lambda` and `def`

Both `lambda` and `def` can define functions in Python, but they serve different purposes:

| Feature      | def                              | lambda                              |
|-------------|---------------------------------|-------------------------------------|
| Name        | Always defines a **named function** | **Anonymous**, usually assigned to a variable |
| Length      | Can contain **multiple statements** | Only a **single expression**         |
| Use Case    | Standard **reusable functions**    | Short, **temporary functions** for quick tasks |
| Return      | Requires **return** keyword       | Automatically **returns the expression** |
| Readability | More readable for **complex logic** | Best for **simple operations** or one-liners |

**Next, we will dive deeper into map, filter, and reduce to understand how they work in detail and when to use them effectively in Python.**

## Python `map()` Function

The `map()` function in Python applies a **given function** to each element of an **iterable** (like a list, tuple, or set) and returns a **map object** (an iterator).

It is a **higher-order function** that allows you to perform **element-wise transformations** efficiently and concisely.

In [8]:
str_numbers = ["1", "2", "3", "4", "5"]

int_numbers = list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

### Explanation of `map()` Usage

- `map(int, str_numbers)` applies the **`int` function** to each element of `str_numbers`.  
- `map()` returns an **iterator**, so we use `list()` to convert it into a list.  
- The result is a **list of integers** instead of strings.

### `map()` Syntax

```python
map(function, iterable, ...)
```

Parameters:
- function: The function to apply to each element of the iterable.
- iterable: One or more iterable objects (like a list, tuple, etc.) whose elements will be processed.\
**Note: You can pass multiple iterables if the function accepts multiple arguments.**

### Converting `map` Object to a List

By default, the `map()` function returns a **map object**, which is an iterator.  
To work with the results directly, we often convert it into a **list** using `list()`.

In [9]:
# Custom function to be applied
# in map
def double(val):
    return val * 2

# Let us apply double on every member
a = [1, 2, 3, 4]    
res = list(map(double, a))
print(res)

[2, 4, 6, 8]

### Converting strings to Uppercase
This example shows how we can use `map()` to convert a `list` of strings to uppercase.

In [1]:
fruits = ['apple', 'banana', 'cherry']
res = map(str.upper, fruits)
print(list(res))

['APPLE', 'BANANA', 'CHERRY']

### Extracting first character from strings
In this example, we use `map()` to extract the first character from each string in a `list`.

In [2]:
words = ['apple', 'banana', 'cherry']
res = map(lambda s: s[0], words)
print(list(res))

['a', 'b', 'c']

### Removing whitespaces from strings
In this example, We can use `map()` to remove leading and trailing whitespaces from each string in a `list`.

In [3]:
s = ['  hello  ', '  world ', ' python  ']
res = map(str.strip, s)
print(list(res))

['hello', 'world', 'python']

### Calculate fahrenheit from celsius
In this example, we use `map()` to convert a `list` of temperatures from `Celsius` to `Fahrenheit`.

In [4]:
celsius = [0, 20, 37, 100]
fahrenheit = map(lambda c: (c * 9/5) + 32, celsius)
print(list(fahrenheit))

[32.0, 68.0, 98.6, 212.0]

### Converting `map` Object to a List

By default, the `map()` function returns a **map object**, which is an iterator.  
To work with the results directly, we often convert it into a **list** using `list()`.

### `filter()` Function in Python

The `filter()` function is used to **extract elements** from an iterable (like a list, tuple, or set) that satisfy a given condition.  
It works by applying a function to each element and **keeping only those** for which the function returns `True`.

In [5]:
def starts_a(w):
    return w.startswith("a")

li = ["apple", "banana", "avocado", "cherry", "apricot"]
res = filter(starts_a, li)
print(list(res))

['apple', 'avocado', 'apricot']

### Syntax of `filter()`

```python
filter(function, iterable)

###  Parameters:

- **function:**  
  Tests each element.  
  - If it returns **True** â†’ the element is **kept**  
  - If it returns **False** â†’ the element is **discarded**

- **iterable:**  
  Any iterable object â€” such as a **list**, **tuple**, or **set**.

###  Return Value:

A **filter object** (an iterator), which can be converted into:  
- `list()`  
- `tuple()`  
- `set()`

### Let's explore some examples of filter() function and see how it is used.

### Example 1: Using `filter()` with a Named Function

In [6]:
def even(n):
    return n % 2 == 0

a = [1, 2, 3, 4, 5, 6]
b = filter(even, a)
print(list(b))

[2, 4, 6]

### Example 2: Using `filter()` with a Lambda Function
Instead of creating a separate named function, use a `lambda function` for concise code. Below code uses a `lambda function with filter()` to select even numbers from a list.

In [7]:
a = [1, 2, 3, 4, 5, 6]
b = filter(lambda x: x % 2 == 0, a)
print(list(b))

[2, 4, 6]

### Example 3: Filtering and Transforming Data
In this Example lambda functions is used with `filter()` and `map()` to first get even numbers from a list and then double them.

In [12]:
a = [1, 2, 3, 4, 5, 6]
b = list(filter(lambda x: x % 2 == 0, a))
c = list(map(lambda x: x * 2, b))
print(b)
print(c)

[2, 4, 6]
[4, 8, 12]

#### Why not?

```python 
a = [1, 2, 3, 4, 5, 6]
b = filter(lambda x: x % 2 == 0, a)
c = map(lambda x: x * 2, b)
print(list(b))
print(list(c))

##### Lets understand this:

In [14]:
a = [1, 2, 3, 4, 5, 6]
print("Step 1: a =", a)

b = filter(lambda x: x % 2 == 0, a)
print("Step 2: b (filter object created) =", b)

c = map(lambda x: x * 2, b)
print("Step 3: c (map object created) =", c)

# Let's see what happens when we start using b and c
print("\nNow we start converting b to a list:")
b_list = list(b)
print("After converting b to list ->", b_list)

print("\nNow let's see what happens to c:")
c_list = list(c)
print("After converting c to list ->", c_list)

Step 1: a = [1, 2, 3, 4, 5, 6]
Step 2: b (filter object created) = <filter object at 0x000001AB940F8730>
Step 3: c (map object created) = <map object at 0x000001AB940F8DF0>

Now we start converting b to a list:
After converting b to list -> [2, 4, 6]

Now let's see what happens to c:
After converting c to list -> []

### Explanation

`<filter object at ...>` and `<map object at ...>` indicate that these are **iterators** â€”  
they are like â€œmachinesâ€ waiting to produce results when iterated over.

- When we do `list(b)`, the **filter object** runs through all its elements and gives us `[2, 4, 6]`.  
  âœ… But after that, itâ€™s **empty** â€” because iterators can be used **only once**.

- When we do `list(c)`, the **map object** tries to get data from `b`.  
  âŒ But since `b` is already exhausted, `c` has **nothing left to process**, so it returns `[]`.

#### To actually see both results correctly:

In [15]:
a = [1, 2, 3, 4, 5, 6]
b = list(filter(lambda x: x % 2 == 0, a))  # now b is a list
print("Even numbers (b):", b)

c = list(map(lambda x: x * 2, b))
print("Doubled numbers (c):", c)

Even numbers (b): [2, 4, 6]
Doubled numbers (c): [4, 8, 12]

#### Example 4: Filtering Strings
Here, lambda function is used with `filter()` to keep only words that have more than 5 letters from a list of fruits.

In [16]:
a = ["apple", "banana", "cherry", "kiwi", "grape"]
b = filter(lambda w: len(w) > 5, a)
print(list(b))

['banana', 'cherry']

####  Example 5: Filtering with None (Truthiness Check)
This code uses `filter()` with `None` as the function to remove all falsy values (like empty strings, None and 0) from a list.

In [17]:
L = ["apple", "", None, "banana", 0, "cherry"]
A = filter(None, L)
print(list(A))

['apple', 'banana', 'cherry']

### `reduce()` Function

The **`reduce()`** function (from the **`functools`** module) applies a function **cumulatively** to the items of an iterable,  
reducing it to a **single value**.

Itâ€™s perfect for quick tasks like:

- Summing or multiplying numbers  
- Finding maximum or minimum  
- Concatenating strings  
- Flattening lists  

ðŸ’¡ **Tip:**  
Use `reduce()` for simple one-line reductions.  
For complex logic or when intermediate results are needed, **loops** are usually more readable.

In [19]:
from functools import reduce


li = ["Python", "for", "Coding", "Enthusiasts"]
res = reduce(lambda x, y: x + " " + y, li)
print(res)

Python for Coding Enthusiasts

### Syntax

Itâ€™s a method of the **`functools`** module, so we need to import it before use:

```python
from functools import reduce
reduce(function, iterable[, initializer])

### Parameters:
- **function:**  
  A function that takes **two arguments** and returns a **single value**.
- **iterable:**  
  The sequence to be reduced (**list**, **tuple**, etc.).
- **initializer (optional):**  
  A starting value that is placed **before the first element**.

### Return Value:
A **single final value** after processing all elements.

### Example 1: Basic Usage with a Named Function
This code uses `reduce()` function to accumulate values in a list by repeatedly adding two numbers at a time.

In [20]:
from functools import reduce
def add(x, y):
    return x + y

a = [1, 2, 3, 4, 5]
res = reduce(add, a)
print(res)

15

### Example 2: Using reduce() with a Lambda Function
This example demonstrates how a `lambda` function can be used with `reduce()` to calculate factorial of a number by multiplying all elements of a list.

In [21]:
from functools import reduce
a = [1, 2, 3, 4, 5]
res = reduce(lambda x, y: x * y, a)
print(res)

120

### Example 3: Using reduce() with operator Module
This example uses `functools.reduce()` with `built-in functions from operator module` to perform `sum, product and string` concatenation on lists.

In [22]:
import functools
import operator
a = [1, 3, 5, 6, 2]

print(functools.reduce(operator.add, a))
print(functools.reduce(operator.mul, a))

17
180

In [24]:
print(functools.reduce(operator.add, ["Python ", "is ", "awesome"]))

Python is awesome

### Example 4: Using initializer
This code uses `reduce()` with a lambda function and an initial value to sum a list, starting from a given number.

In [25]:
from functools import reduce
a = [1, 2, 3]
res = reduce(lambda x, y: x + y, a, 10)
print(res)

16

### Difference Between `reduce()` and `accumulate()`

Both `reduce()` and `accumulate()` apply a function cumulatively to items in a sequence, but they behave differently:

- **reduce():**  
  Returns **only the final value** after applying the function to all elements.

- **accumulate():**  
  (from `itertools`) Returns an **iterator of all intermediate results**, so you can see the **step-by-step progression**.

### Example: Using `accumulate()`

In [26]:
from itertools import accumulate
import operator

numbers = [1, 2, 3, 4, 5]

# Cumulative sum
cumulative_sum = list(accumulate(numbers))
print("Cumulative Sum:", cumulative_sum)

Cumulative Sum: [1, 3, 6, 10, 15]

In [27]:
# Cumulative product
cumulative_product = list(accumulate(numbers, operator.mul))
print("Cumulative Product:", cumulative_product)

Cumulative Product: [1, 2, 6, 24, 120]

| Feature       | reduce()                           | accumulate()                        |
|---------------|-----------------------------------|------------------------------------|
| Return Value  | A single final value (e.g., 15)  | Intermediate results (e.g., [1, 3, 6, 10, 15]) |
| Output Type   | Returns a single value            | Returns an iterator                 |
| Use Case      | Useful when only the final result is needed | Useful when tracking cumulative steps |
| Import        | From `functools`                  | From `itertools`                    |

## Decorators in Python

In Python, **decorators** are a flexible and elegant way to **modify or extend the behavior** of functions or methods **without changing their actual code**.

A decorator is essentially a **function that takes another function as an argument** and **returns a new function** with enhanced functionality.

Decorators are extremely useful when you want to add extra features such as **logging**, **authentication**, or **memoization** to existing functions in a clean and reusable way.

You can think of a decorator as a **wrapper** that adds extra layers of functionality â€” just like putting icing on a cake without baking a new one.

They are also commonly used in frameworks like **Flask** and **Django** for adding routes, permissions, and middleware functionality.

### ðŸ’¡ In simple words:
A decorator takes a function, adds something new to it, and gives it back smarter than before.

![python_decorator.webp](attachment:8101d86f-753d-4207-8ff7-900d6d95e146.webp)

### Example: A Simple Decorator

In [1]:
def greet_decorator(func):
    def wrapper():
        print("Before calling the function...")
        func()
        print("After calling the function...")
    return wrapper

@greet_decorator
def say_hello():
    print("Hello, world!")

say_hello()

Before calling the function...
Hello, world!
After calling the function...

## Lets Understand how a Decorator Works

#### 1. The Decorator Function
- `greet_decorator` is a **function that accepts another function** (`func`) as its argument.  
- When you write `@greet_decorator`, Python automatically passes the decorated function (like `say_hello`) as `func`.


#### 2. Inner Function (Wrapper)
- Inside `greet_decorator`, we define another function called `wrapper`.  
- This `wrapper` function **adds extra code before and after** the original function (`func`).  

Example:
```python
def wrapper():
    print("Before calling the function...")
    func()
    print("After calling the function...")
```

#### 3. Returning the Wrapper
- The decorator **returns the `wrapper` function** it does **not execute it yet**.  
- `greet_decorator` gives back a **new function** that wraps around the original one.


#### 4. What `@greet_decorator` Actually Does
When you write:

```python
@greet_decorator
def say_hello():
    print("Hello!")
```

##### What Happens Internally with a Decorator

Python internally does this:

```python
say_hello = greet_decorator(say_hello)
```
That means:
- `say_hello` is no longer the original function.  
- It now refers to the wrapper function returned by the decorator.

#### 5. When You Call `say_hello()`

Hereâ€™s what happens step-by-step:

- `"Before calling the function..."` â†’ printed first
- The original `say_hello()` runs â†’ prints `"Hello! World!"`
- `"After calling the function..."` â†’ printed last

### Decorator with Parameters

Decorators often need to work with functions that **accept arguments**.

To make a decorator flexible, we use **`*args`** and **`**kwargs`** inside the `wrapper` function this allows it to handle **any number of positional and keyword arguments**.

#### Key Points:
- `*args` â†’ captures all **positional arguments**.
- `**kwargs` â†’ captures all **keyword arguments**.
- This makes the decorator **generic** and usable with functions of **any signature**.

In [4]:
def my_decorator(func):
    def wrapper(*args, **kwargs):
        print("Before the function is called.")
        result = func(*args, **kwargs)
        print("After the function is called.")
        return result
    return wrapper

##### Now letâ€™s see how this same decorator works for different types of function calls

##### Example 1: Single Argument

In [5]:
@my_decorator
def greet(name):
    print(f"Hello, {name}!")

greet("Kumaran")

Before the function is called.
Hello, Kumaran!
After the function is called.

##### Example 2: Multiple Positional Arguments

In [6]:
@my_decorator
def greet(name, age):
    print(f"Hello, {name}! You are {age} years old.")

greet("Kumaran", 24)

Before the function is called.
Hello, Kumaran! You are 24 years old.
After the function is called.

##### Example 3: Using Keyword Arguments

In [7]:
@my_decorator
def show_details(name, age, city):
    print(f"{name} is {age} years old and lives in {city}.")

show_details(name="Kumaran", age=24, city="Bangalore")

Before the function is called.
Kumaran is 24 years old and lives in Bangalore.
After the function is called.

###  Quick Takeaway

- `*args` â†’ collects all **positional arguments** (like `"Kumaran"`, `24`)  
- `**kwargs` â†’ collects all **keyword arguments** (like `age=24`, `city="Chennai"`)  
- This makes your decorator work with **any function signature**, no matter how many arguments it has.