# Welcome to Day 2 of Python Learning!

Congratulations on making it through Day 1 you‚Äôve learned about `keywords`, `variables`, and `object references`.

Today, we‚Äôre moving forward to **Data Types in Python** ‚Äî the different kinds of values you can use in your Python programs.  
Think of them as categories that define what type of data is being stored, such as integers, floating-point numbers, strings, and more.

### Data Types in Python

In Python, data types define the kind of value we are working with and determine what operations can be performed on it.  
They act like *labels on boxes*, letting Python know what‚Äôs inside the box and how it should be handled.

### Built-in Data Types in Python

#### Numeric Types
- **int** ‚Üí Whole numbers (e.g., `5`, `-42`)  
- **float** ‚Üí Decimal numbers (e.g., `3.14`, `-0.001`)  
- **complex** ‚Üí Numbers with a real and imaginary part (e.g., `2 + 3j`)  

#### Sequence Types
- **str** ‚Üí Strings, i.e., text (e.g., `"Hello"`)  
- **list** ‚Üí Ordered, changeable collection (e.g., `[1, 2, 3]`)  
- **tuple** ‚Üí Ordered, unchangeable collection (e.g., `(1, 2, 3)`)  

#### Mapping Type
- **dict** ‚Üí Key-value pairs (e.g., `{"name": "Alice", "age": 25}`)  

#### Boolean Type
- **bool** ‚Üí `True` or `False`  

#### Set Types
- **set** ‚Üí Unordered collection of unique items (e.g., `{1, 2, 3}`)  
- **frozenset** ‚Üí Like set, but immutable (cannot be changed once created)  

#### Binary Types
- **bytes** ‚Üí Immutable sequence of bytes  
- **bytearray** ‚Üí Mutable sequence of bytes  
- **memoryview** ‚Üí A way to access the memory of binary objects  


Imagine data types as different kinds of ‚Äúboxes‚Äù  you wouldn‚Äôt store milk in a toolbox, right?  
Similarly, Python chooses the right ‚Äúbox‚Äù (data type) to keep things organized.

### Numeric Data Types

Python uses numeric data types to store numbers. These include integers, floating-point numbers, and complex numbers. Each type is actually a class, and variables are instances of these classes.

#### 1. Integers (`int`)
- Whole numbers, positive or negative  
- No fractions or decimals  
- Python can handle very large integers

In [16]:
x = 42
y = -100
print(x,type(x))
print(y,type(y))

42 <class 'int'>
-100 <class 'int'>

#### 2. Floating-Point Numbers (`float`)
- Numbers with a decimal point  
- Can also be written in scientific notation using `e` or `E`

In [17]:
y = -0.001
z = 2e3  # 2 √ó 10¬≥ = 2000.0

In [18]:
print(y,type(y))
print(z,type(z))

-0.001 <class 'float'>
2000.0 <class 'float'>

#### 3. Complex Numbers (`complex`)
- Numbers with a real part and an imaginary part  
- Imaginary part is written with `j`

In [19]:
x = 2 + 3j
y = -1 + 5j

In [20]:
print(x,type(x))
print(y,type(y))

(2+3j) <class 'complex'>
(-1+5j) <class 'complex'>

### Sequence Data Types

A `sequence` is a line of items arranged in order.  
Each item has a position, called an **index**.  

Sequences allow you to store, access, and work with multiple values easily.  

**Examples of sequence types in Python:** `str`, `list`, `tuple`


Think of a sequence as a row of lockers ‚Äî each locker has a number (index), and you can put anything inside or take it out!

### String Data Type (`str`)

- A string is a **sequence of characters**.  
- Python does not have a separate character type a single character is just a string of length 1.  
- Strings are represented by the `str` class.  

#### Creating Strings
Strings can be created using:  
- Single quotes: `'Hello'`  
- Double quotes: `"World"`  
- Triple quotes: `'''Python is fun!'''` or `"""Multiline string"""`  

#### Accessing Characters
You can access individual characters using **indexing** (starting from 0):

In [22]:
text = "Python"
print(text[0])
print(text[3])

P
h

##### Think of a string as a train where each character is a compartment.  
- You can look inside any compartment using its **index number**.  
- No matter how long your train is, Python keeps track of each compartment!

### List Data Type (`list`)

- A list is an **ordered collection of items**.  
- Items can be of any type: numbers, strings, or even other lists.  
- Lists are **mutable**, which means you can change, add, or remove items after creating the list.  
- Lists are represented by **square brackets** `[ ]`.

In [25]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [27]:
# Accessing items
print(fruits[0])   
print(fruits[1])   
print(fruits[-1])

apple
mango
cherry

### Tuples in Python (`tuple`)

- A tuple is an **ordered collection of items**, similar to a list.  
- Tuples are **immutable**, which means you cannot change items, but you can access them.  
- Tuples are written using **parentheses** `( )`.

In [29]:
colors = ("red", "green", "blue")

# Accessing items
print(colors[0])   
print(colors[2])   
print(colors[-1])

red
blue
blue

### Boolean Data Type (`bool`)

- Boolean is a special data type that can only have two values: `True` or `False`.  
- Booleans are used to represent **truth values** in Python.  
- The Boolean type is represented by the `bool` class.

In [30]:
is_python_fun = True
is_sky_green = False

In [33]:
print(is_python_fun)  
print(is_sky_green)

True
False

In [34]:
# Checking the type
print(type(is_python_fun))

<class 'bool'>

### Truthy and Falsy

- **Truthy:** Any value that evaluates to `True` in a Boolean context (e.g., `1`, `"Hello"`, `[1, 2]`).  
- **Falsy:** Any value that evaluates to `False` (e.g., `0`, `""`, `[]`, `None`).

In [36]:
print(bool(1))       
print(bool(0))       
print(bool("Hello")) 
print(bool(""))

True
False
True
False

#### Think of Boolean like a light switch üí°  it‚Äôs either on (True) or off (False).

### Set Data Type (`set`)

- A set is an **unordered collection of unique items**.  
- Sets are written using **curly braces** `{ }` (like dictionaries but without key-value pairs).  
- Sets **don‚Äôt allow duplicates** and **don‚Äôt maintain order**.

In [37]:
fruits = {"apple", "banana", "cherry", "apple"}

print(fruits)   # (duplicates removed)

{'banana', 'apple', 'cherry'}

##### Think of a set like a basket of unique fruits, even if you try to add the same fruit again, it won‚Äôt duplicate.

### Dictionary Data Type (`dict`)

- A dictionary is an **unordered collection of items**.  
- Each item has a **key** and a **value** (like a label and its content).  
- Dictionaries are written using **curly braces** `{ }`.

In [40]:
person = {
    "name": "John",
    "age": 25,
    "city": "New York"
}

In [41]:
# Accessing values by key
print(person["name"])  
print(person["age"])

John
25

##### Think of a dictionary like a real-life dictionary: the word is the key, and the definition is the value.

### Disclaimer

We‚Äôve only scratched the surface of **strings, lists, tuples, sets, and dictionaries**.  

There‚Äôs a lot more to learn, and in the next notebook, we‚Äôll go much deeper, exploring all the useful operations, tricks, and ways to use them in real programs.  

So don‚Äôt worry, we‚Äôll cover it all **step by step**!

---

### Operators in Python

In Python, **operators** are special symbols that perform operations on values or variables.

- **Operator:** A symbol that tells Python what to do.  
  **Examples:** `+`, `*`, `/`  

- **Operand:** The value that the operator works on.  
  **Example:** In `5 + 3`, `5` and `3` are operands, and `+` is the operator.

### Python Operators at a Glance

| Operator Type    | Examples                                      |
|-----------------|-----------------------------------------------|
| Arithmetic       | `+`, `-`, `*`, `/`, `%`, `**`, `//`         |
| Comparison       | `==`, `!=`, `>`, `<`, `>=`, `<=`             |
| Logical          | `and`, `or`, `not`                            |
| Assignment       | `=`, `+=`, `-=`, `*=`, `/=`, `%=`, `**=`, `//=` |
| Bitwise          | `&`, `|`, `^`, `~`, `<<`, `>>`               |
| Membership       | `in`, `not in`                                |
| Identity         | `is`, `is not`                                |

### Arithmetic Operators

Arithmetic operators are used to perform basic math operations such as **addition, subtraction, multiplication, and division**.

In [42]:
# Variables
a = 15
b = 4

In [44]:
# Addition
print("Addition:", a + b)

Addition: 19

In [45]:
# Subtraction
print("Subtraction:", a - b)

Subtraction: 11

In [46]:
# Multiplication
print("Multiplication:", a * b)

Multiplication: 60

In [47]:
# Division
print("Division:", a / b)

Division: 3.75

In [48]:
# Floor Division
print("Floor Division:", a // b)

Floor Division: 3

In [49]:
# Modulus
print("Modulus:", a % b)

Modulus: 3

In [50]:
# Exponentiation
print("Exponentiation:", a ** b)

Exponentiation: 50625

#### Note
Difference between `/` and `//`:

`/` division operator always returns a floating-point number.

In [51]:
print(5 / 2)

2.5

`//` floor division operator returns the integer part of the division (rounds down).

In [52]:
print(5 // 2)

2

**Use `//` when you just need the `whole number result`, and `/` when you want the `exact result with decimals`.**

### Comparison Operators

Comparison operators are used to **compare values**.  
The result of a comparison is always a **Boolean** (`True` or `False`).

In [53]:
b = 33

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

### Logical Operators

Logical operators are used to **combine or modify Boolean conditions**. They return `True` or `False`.

| Operator | Meaning      | Example        | Result  |
|----------|-------------|----------------|---------|
| `and`    | Logical AND  | `True and False` | `False` |
| `or`     | Logical OR   | `True or False`  | `True`  |
| `not`    | Logical NOT  | `not True`      | `False` |

#### Operator Precedence
1. `not` (highest priority)  
2. `and`  
3. `or` (lowest priority)

In [54]:
a = True
b = False

In [55]:
print(a and b)

False

In [56]:
print(a or b)

True

In [57]:
print(not a)

False

### Bitwise Operators

Bitwise operators work on the **binary representation of numbers** and perform operations on each individual bit.

In [58]:
a = 10
b = 4

In [59]:
print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40

### Assignment Operators

Assignment operators are used to **store values in variables**. They can also update the value of a variable in a shorthand way.

| Operator | Meaning               | Example     | Result        |
|----------|---------------------|------------|---------------|
| `=`      | Assign               | `x = 5`    | `5`           |
| `+=`     | Add and assign       | `x += 3`   | `x = x + 3`   |
| `-=`     | Subtract and assign  | `x -= 2`   | `x = x - 2`   |
| `*=`     | Multiply and assign  | `x *= 4`   | `x = x * 4`   |
| `/=`     | Divide and assign    | `x /= 2`   | `x = x / 2`   |
| `%=`     | Modulus and assign   | `x %= 3`   | `x = x % 3`   |
| `**=`    | Exponent and assign  | `x **= 2`  | `x = x ** 2`  |
| `//=`    | Floor divide and assign | `x //= 2` | `x = x // 2` |

These are like shortcuts to **update a variable** without rewriting the whole expression.

In [61]:
a = 10
b = a

In [62]:
print(b)

10

In [63]:
b += a
print(b)

20

In [64]:
b -= a
print(b)

10

In [65]:
b *= a
print(b)

100

In [66]:
b <<= a
print(b)

102400

### Identity Operators

Identity operators check whether two variables **refer to the same object in memory**.

| Operator  | Meaning                             | Example    | Result       |
|-----------|------------------------------------|-----------|-------------|
| `is`      | True if both variables point to the same object | `a is b`  | `True/False` |
| `is not`  | True if variables point to different objects   | `a is not b` | `True/False` |


Two things can look equal (`==`) but not be the same object (`is`).  
Think of it like **two identical twins** ‚Äî they look the same but are different people.

In [67]:
a = 10
b = 20
c = a

In [68]:
print(a is not b)

True

In [69]:
print(a is c)

True

In [70]:
# Two separate lists with the same content
list1 = [1, 2, 3]
list2 = [1, 2, 3]

In [71]:
# == checks if the values are equal
print(list1 == list2)   # True, because values are the same

True

In [72]:
# is checks if both variables refer to the same object in memory
print(list1 is list2)   # False, because they are different objects

False

**Note:** `==` is about value equality, `is` is about object identity.

### Membership Operators

Membership operators are used to **check if a value exists in a sequence** (like a list, tuple, or string).

| Operator  | Meaning                                     | Example           | Result  |
|-----------|--------------------------------------------|-----------------|---------|
| `in`      | True if the value is found in the sequence | `'a' in 'apple'` | `True`  |
| `not in`  | True if the value is not found in the sequence | `'b' not in 'apple'` | `True`  |

In [73]:
fruits = ['apple', 'banana', 'cherry']

In [74]:
print('apple' in fruits)

True

In [75]:
print('orange' not in fruits)

True

### Ternary Operator (Conditional Expression)

The **ternary operator** allows you to write a short `if-else` statement in a single line.  
It checks a condition and returns one value if `True`, and another if `False`.

##### Syntax
```python
[on_true] if [condition] else [on_false]

In [76]:
a, b = 10, 20
min = a if a < b else b

In [77]:
print(min)

10

### Precedence and Associativity of Operators

When an expression has more than one operator, Python follows rules to decide **which operation happens first**.

#### 1. Operator Precedence
Precedence is the **priority of operators**.  
If operators have different precedence, the one with **higher precedence** is evaluated first.

In [78]:
result = 2 + 3 * 4
print(result)

14

- 14, because `*` has higher precedence than `+`

#### 2. Operator Associativity

Associativity is used when **two or more operators have the same precedence**.  
It decides the **order in which operators of the same precedence are evaluated**.  

- Associativity can be **Left to Right** or **Right to Left** depending on the operator.

In [82]:
# Example (Left to Right)
result = 10 - 5 + 2
print(result)

7

 **7**, evaluated as `(10 - 5) + 2`

In [83]:
# Example (Right to Left)
result = 2 ** 3 ** 2
print(result)

512

**512**, evaluated as `2 ** (3 ** 2)`

# Introduction to Conditional Statements in Python

Imagine you‚Äôre at a traffic light.

If the light is green ‚Üí you go.  
If it‚Äôs red ‚Üí you stop.  
If it‚Äôs yellow ‚Üí you slow down.

This is exactly what conditional statements do in Python: they let your program make decisions based on conditions.

Without conditions, a program would just run top-to-bottom with no flexibility. With conditions, your program becomes smart enough to act differently in different situations.

### 1. if Statement  

The **if statement** checks a condition, and if it‚Äôs **true**, the block of code inside runs.  
If the condition is **false**, nothing happens.

In [2]:
age = 20

if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

### 2. Shorthand if  

If you have just a **single line of code** to execute, you can write it in a **shorthand form**.  
Use shorthand only for very short conditions; it keeps code clean.

In [3]:
marks = 90

if marks > 80: print("Great job!")

Great job!

### 3. if-else Statement

If you want the program to do one thing if the condition is **true**, and something else if it is **false**, that‚Äôs where the **if-else statement** comes in.

In [5]:
age = 16

if age >= 18:
    print("You can drive.")
else:
    print("You cannot drive yet.")

You cannot drive yet.

### 4. Shorthand if-else (Ternary Operator)

Python allows writing **if-else** in **one line**, which is also called a **ternary operator**.

In [6]:
age = 20

status = "Adult" if age >= 18 else "Minor"
print(status)

Adult

- `"Adult"` will be chosen if the condition is **true**.  
- Otherwise, `"Minor"` will be chosen.  

It‚Äôs **neat and compact** when you need a quick decision.

### 5. elif Statement

Sometimes you have **multiple conditions** to check.  
Instead of writing multiple `if` statements, you can use **elif** (short for *else if*).

In [7]:
marks = 75

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 50:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

#### Remember:
- Python checks conditions `top to bottom`.
- Once a condition is `True`, the rest are ignored.

### 6. Nested if-else

You can put an **if-else** statement inside another **if-else** for more **complex decision-making**.

In [8]:
age = 20
citizenship = "USA"

if age >= 18:
    if citizenship == "USA":
        print("Eligible to vote in USA")
    else:
        print("Not eligible to vote in USA")
else:
    print("Too young to vote")

Eligible to vote in USA

**Nested conditions are useful when decisions depend on multiple factors.**

### 7. Ternary Conditional Statement (Expanded)

We saw the **one-line if-else** earlier. Here‚Äôs a slightly more fun example:

In [10]:
score = 85
result = "Pass" if score >= 50 else "Fail"
print(f"Result: {result}")

Result: Pass

**Remember:** This is also called a **conditional expression**, and it‚Äôs perfect for **quick decisions in one line**.