### Introduction to Sets and Dictionaries

Welcome coders.

In this notebook, we will dive into two essential Python data structures: **sets** and **dictionaries**.  
We will explore how they work, when to use them, and how they can make your programs faster and more efficient.

Let us get started.

### Introduction to Sets

#### What is a Set?

A **set** in Python is a collection of **unique elements**.  
It is inspired by **mathematical sets** and is useful when you want to store items **without duplicates**.

#### Why Do Sets Exist?

Sets are designed for:

- **Fast membership testing** using the `in` operator  
- **Instant duplicate removal**  
- **Mathematical operations** such as union, intersection, and difference  
- **Efficient storage** of unordered unique items  

Sets are highly optimized for lookups because they use an internal **hash table** implementation.

#### Key Characteristics of Sets

- **Unordered**: Elements do not have a fixed index or position.  
- **Mutable**: You can add or remove elements from a set.  
- **Unique elements only**: Duplicate values are automatically removed.  
- **Heterogeneous allowed**: You can store different immutable types such as `int`, `str`, `tuple`, etc.

#### When to Use Sets in Real Projects

Use sets when:

- You need to **remove duplicates** from a list.  
- You want to **check membership frequently** (for example, checking if a username already exists).  
- You need fast **set operations** like intersection, union, or difference.  
- You work with **large datasets** that require quick lookups.

**Examples:**

- Filtering **unique visitors** on a website  
- Storing a list of **blocked IP addresses**  
- Finding **common customers** between two databases

### Syntax & Declaration of a Set

In [1]:
# Basic set
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [2]:
# Set with mixed types
mixed_set = {1, "hello", (2, 3)}
print(mixed_set)

{(2, 3), 1, 'hello'}

#### Empty Set (Common Beginner Trap)

`{}` is **not** an empty set, it creates an empty **dictionary**.

**Correct way to create an empty set:**

In [3]:
empty_set = set()
print(empty_set)

set()

### Accessing and Working with Set Elements

#### No Indexing in Sets (Important!)

Unlike **lists** and **tuples**, sets **do not support indexing or slicing** because they are **unordered**.

In [4]:
my_set = {10, 20, 30}
my_set[0]

TypeError: 'set' object is not subscriptable

**You cannot access elements by position.**

### Iterating Through a Set

Even though sets are unordered, you can still loop through them.

In [5]:
my_set = {10, 20, 30}

for item in my_set:
    print(item)

10
20
30

**Note:** The order of output is not guaranteed — it may change each time.

### Membership Testing (Super Fast)
Sets shine when checking whether an element exists.

In [6]:
my_set = {1, 2, 3, 4, 5}

print(3 in my_set)

True

In [7]:
print(10 in my_set)

False

#### Why is it fast?
Because sets internally use a **hash table**, making lookup operations **O(1)** on average.

### Core Set Operations

Sets are mutable, so you can modify them. Let’s look at the essential operations.

**add()** – Add a single element

In [8]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

**update()** – Add multiple elements

In [9]:
my_set.update([5, 6, 7])
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

Can also accept `tuples`, `lists`, or even another `set`.

**remove()** – Remove a specific element

In [10]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

> If the element doesn’t exist, it raises a `KeyError`

`discard()` – Remove element safely

In [11]:
my_set.discard(10)

>  No error even if 10 is not present

##### Safe way to remove elements without crashing.

**pop()** – Remove and return an arbitrary element

In [12]:
item = my_set.pop()
print(item)     # Random element
print(my_set)

1
{2, 4, 5, 6, 7}

**Since sets are unordered, you cannot predict which element is removed.**

**clear()** – Remove all elements

In [13]:
my_set.clear()
print(my_set)

set()

#### Common Errors: `remove()` vs `discard()`

This is a frequently asked interview question.

| Method     | Element Exists?       | Element Missing?     |
|------------|------------------------|------------------------|
| **remove()**  | Removes the element     | Raises a **KeyError**  |
| **discard()** | Removes the element     | Does **nothing**       |

**Interview Point:**  
Use `discard()` when you want to avoid errors if the element is absent.

## Mathematical Set Operations (Super Important)

Sets are powerful when performing **mathematical operations**. These operations are extremely fast and useful in real-world applications such as data cleaning, recommendation systems, and log analysis.

Let us explore each operation below.

### Union (`|` or `union()`)

Combines elements from both sets while ensuring **no duplicates**.

In [1]:
a = {1, 2, 3}
b = {3, 4, 5}

In [2]:
print(a | b)

{1, 2, 3, 4, 5}

In [3]:
print(a.union(b))

{1, 2, 3, 4, 5}

### Real-world example:

Users in `App A` or `App B`:

In [4]:
app_a = {"ram", "sita"}
app_b = {"sita", "john"}

In [5]:
users = app_a | app_b
print(users)

{'sita', 'john', 'ram'}

### Intersection (`&` or `intersection()`)

Returns the elements that are **common** between both sets.

In [7]:
a = {1, 2, 3}
b = {2, 3, 4}

In [8]:
print(a & b)

{2, 3}

In [9]:
print(a.intersection(b))

{2, 3}

### Real-world example:

Users who purchased both courses:

In [10]:
course_x = {"ram", "john", "arun"}
course_y = {"john", "arun", "maya"}

In [11]:
common = course_x & course_y
print(common)

{'arun', 'john'}

#### Difference (`-` or `difference()`)

Elements that are present in **Set A** but **not** in **Set B**.

In [12]:
a = {1, 2, 3, 4}
b = {3, 4, 5}

In [13]:
print(a - b)

{1, 2}

In [14]:
print(a.difference(b))

{1, 2}

### Real-world example:

Customers who visited the website but did not purchase:

In [15]:
visited = {"ram", "john", "sita"}
purchased = {"john"}

In [16]:
not_purchased = visited - purchased
print(not_purchased)

{'sita', 'ram'}

### Symmetric Difference (`^` or `symmetric_difference()`)

Returns elements that are in **Set A or Set B**, but **not in both**.

In [17]:
a = {1, 2, 3}
b = {3, 4, 5}

In [18]:
print(a ^ b)

{1, 2, 4, 5}

In [19]:
print(a.symmetric_difference(b))

{1, 2, 4, 5}

### Real-world example:

Users who watched only one of the two videos (not both):

In [20]:
video1 = {"alice", "bob", "carol"}
video2 = {"bob", "david"}

In [21]:
unique_watchers = video1 ^ video2
print(unique_watchers)

{'carol', 'alice', 'david'}

### Practical Use Case Summary

| Problem                  | Solution Using Set     | Why?                 |
|--------------------------|-------------------------|-----------------------|
| Remove duplicates        | `set(list)`             | Fast and clean        |
| Find common customers    | `set1 & set2`           | O(1) lookup           |
| Get unique visitors      | `set1 ^ set2`           | Simple logic          |
| Identify missing data    | `expected - received`   | Accurate and quick    |

### Set Relations (Subset, Superset, Disjoint)

These operations help compare sets logically and are widely used in areas such as permission systems, data validation, and filtering tasks.

Let us break them down clearly.

#### Subset (⊆)

Checks whether **every element of Set A** exists in **Set B**.

In [22]:
a = {1, 2}
b = {1, 2, 3, 4}

In [23]:
print(a <= b)

True

In [24]:
print(a.issubset(b))

True

### Real-world example:

Required skills vs. candidate skills:

In [25]:
required = {"python", "sql"}
candidate = {"python", "sql", "ml"}

In [26]:
print(required <= candidate)

True

#### Proper Subset (⊂)

Checks whether **all elements of Set A** are in **Set B**, and **Set A must be strictly smaller** than Set B.

In [27]:
print(a < b)

True

#### Superset (⊇)

Checks whether **Set A contains all elements of Set B**.

In [6]:
a = {1, 2, 3}
b = {1, 2}

In [7]:
print(a >= b)

True

In [8]:
print(a.issuperset(b))

True

In [9]:
all_permissions = {"read", "write", "delete"}

In [10]:
user_permissions = {"read", "write"}

In [11]:
print(all_permissions >= user_permissions)

True

#### Proper Superset (⊃)

Checks whether **Set A contains all elements of Set B**, and **Set A must be strictly larger** than Set B.

In [12]:
print(a > b)

True

#### Disjoint Sets

Two sets are considered **disjoint** when they **share no common elements**.

In [13]:
a = {1, 2}
b = {3, 4}

print(a.isdisjoint(b))

True